/* load the default Redmine stylesheet */
@import url('../../../stylesheets/application.css');

// Open Sans
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

/* Box sizing */
*, *:before, *:after {
    box-sizing: border-box;
}

@mixin pie-clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

$atlantic:	#003651;
$charcoal:	#394a59;
$denim:		#0079b6;
$harbor:	#004c73;
$heatwave:	#ff7b00;
$igloo:		#eaf8ff;
$lemon:		#eaba0a;
$sheffield:	#697682;
$silver:	#e1e4e6;
$tomato:	#d92e47;
$raceway:	#0085c8;

@import "partials/formalize";
@import "partials/tables";

body {
  font: normal 14px/1.5 'Open Sans', sans-serif;
  font-size: 14px;
  color: $charcoal;
}

h1, h2, h3, h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

a, a:link, a:visited {
  color: $denim;
  transition: color .25s;
  &:hover {
    text-decoration: none;
    color: lighten($denim, 10%);
  }
  th & {
    color: $charcoal;
  }
}

th {
  font-weight: 600;
}

pre, code {
	font-family: "Liberation Mono", Menlo, Consolas, Courier, monospace;
}

code {
  padding: 0.2em 0.4em;
  font-size: 85%;
  background-color: #fafafa;
  border: 1px solid #e2e2e2;
}

pre code {
  padding: 0;
  font-size: inherit;
  background-color: unset;
  border: none;
}

// Top menu bar
#top-menu {
  background: $harbor;
  height: auto;
  @include pie-clearfix;
  border-bottom: 1px solid $lemon;
  li {
    padding: 0 10px;
    a {
      font-weight: normal;
      line-height: 2.5;
    }
  }
	a:hover {
		opacity: 0.8;
		transition: opacity .25s;
	}
  #loggedas {
    line-height: 2.5;
  }
}

// Header
#header {
  height: auto;
  min-height: 4em;
  background: $raceway;
  padding: 14px 17px 0 17px;
  > h1,
  > h1:before {
    display: inline-block;
  }
  > h1 {
    margin: 0 20px 2px 9px;
	font-weight: 400;
  }
  > h1:before {
    content: url('../images/safety_logo.svg');
    vertical-align: middle;
    margin: 0 16px 0 0;
	width: 64px;
  }
}

// Search box
#quick-search {
	form {
		display: block;
		float: none;
	}
  select {
    padding: 5px 15px 5px 5px;
    height: auto;
    margin-left: 8px;
  }
  input, #q {
	width: 260px;
    background-color: $silver;
    border: none;
    color: $charcoal;
    padding: 0px 6px;
    height: 2.4em;
    margin-left: 4px;
    margin-right: 8px;
    display: inline-block;
  }
  label {
    line-height: 2.1;
  }
}

// Menu
#main-menu {
  position: relative;
  left: 0;
  margin-right: 0;
  @include pie-clearfix;
  li {
    a {
      border-top: 3px solid transparent;
      padding: 4px 15px 7px;
      transition: border-color .25s;
      &.selected,
      &:hover {
        border-top: 3px solid $lemon;
        background: transparent;
      }
      &.selected {
        font-weight: 400;
        background: #fff;
      }
      &.new-object {
        background-color: $denim;
      }
    }
  }
  .menu-children
  {
  li {
    a {
      border: 0;
      &:hover {
        border: 0;
      }
    }
  }
}
}

// Content
#main {
  @include pie-clearfix;
}
#content {
  width: 75%;
  padding: 15px 20px 10px;
}

#sidebar {
  width: 22%;
  margin-left: 3%;
  h3 {
    margin-top: 23px;
  }
}

div.issue {
  background: #f4f4f4;
  border: none;
  padding: 3px 15px;
}

.subject h3 {
  font-size: 24px;
  line-height: 36px;
}

// Messages
#errorExplanation, div.flash, .nodata, .warning, .conflict {
  border: 1px solid;
  padding: 2px 4px 3px 30px;
}

// Update issue
#update {
  position: fixed;
  width: 80%;
  max-width: 800px;
  max-height: 80%;
  overflow: auto;
  background: #FFF;
  padding: 10px 20px 15px;
  box-shadow: 0 0 40px rgba(black, .5);
  margin-left: -40%;
  left: 50%;
  top: 10%;
  z-index: 20;
  @media (min-width: 1000px) {
    margin-left: -400px;
  }
  .update-close {
    float: right;
    border: 1px solid $charcoal;
    line-height: 0.5;
    font-size: 25px;
    padding: 0 1px 6px;
    margin-right: -10px;
    cursor: pointer;
    transition: all .5s;
    &:hover {
      background-color: $charcoal;
      color: #fff;
    }
  }
  fieldset.tabular {
    legend {
      cursor: pointer;
      color: $tomato;
      transition: color .5s;
      &:hover {
        color: lighten($tomato, 25%);
      }
    }
    legend small,
    div,
    p {
      display: none;
    }
    &.show-children {
      legend small {
        display: inline;
      }
      div,
      p {
        display: block;
      }
    }
  }
}
input#issue_subject,
input#time_entry_comments,
.tabular textarea {
  width: 98.4%;
  max-width: 99%;
}
select#time_entry_activity_id {
  width: 95.7%;
}
#attachments_fields {
  span {
    white-space: initial;
  }
  input {
    width: 30%;
    & + input.description,
    & + label {
      width: 60%;
      @media (max-width: 700px) {
        display: block;
        margin-left: 0;
      }
    }
  }
}

// Issue list
table.query-columns td.buttons input[type=button] {
  padding: 0;
}

// Filters
select[multiple="multiple"] {
  height: auto !important;
}

/*********** Safety updates ***************/
/* Projects back to list format */
#projects-index {
    column-count: 1;
    -webkit-column-count: 1;
}

#projects-index ul.projects li.root {
    max-width: 800px;
    border: 0;
    padding: 0;
}

/* Don't show jquery-ui tooltips! */
.ui-tooltip {
	visibility: hidden;
}

table.list td.project {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

td.assigned_to {
    white-space: nowrap;
}

#project-jump.drdn {
	width: 320px;
	margin-top: 16px;
	input {
		background-color: inherit;
		color: inherit;
	}
	.drdn-trigger {
		height: 34px;
		line-height: 24px;
		padding-left: 12px;
	}
	.drdn-content {
		top: 35px;
		width: 320px;
	}
	.drdn-items>* {
		padding: 4px 8px;
	}
	.drdn-items.selection>*:before {
		margin-right: 0;
	}
	.all-projects {
		line-height: 34px;
	}
}

a.user {
  white-space: nowrap;

  .journal &  {
      white-space: nowrap;
      font-weight: bold;

      & + a[href^="/projects"] {
        font-weight: bold;
      }
    }
}

table.list td {
	padding: 5px 10px 5px 5px;
	vertical-align: top;
}

table.list td.assigned_to {
	text-align: left;
}

table.list td.spent_hours {
	text-align: right;
	padding-right: 16px;
}

a.project.closed, a.project.closed:link, a.project.closed:visited {
	color: #666666;
}

.attachments_fields input.filename, #existing-attachments .filename {
	padding-left: 20px;
}

textarea {
	padding: 12px;
	font-size: 14px;
	line-height: 20px;
}

input[type="submit"] {
	line-height: 1;
}

fieldset label:first-of-type {
	margin-left: 0;
}

fieldset label {
	margin-left: 32px;
	margin-right: 4px;
}

fieldset input[type="submit"] {
	margin-left: 16px;
	margin-right: 4px;
	position: relative;
	top: 4px;
}

fieldset.tabular label {
	width: 156px;
	margin-left: -180px;
}

/* Hide new elements (toggle button and flyout menu) above 900px */
.mobile-toggle-button,
.flyout-menu {
  display: none;
}

#projects-index ul.projects div.root a.project {
	font-size: 20px;
	font-family: inherit;
	font-weight: 600;
}

a.project.child {
	font-size: 18px;
	font-weight: 600;
}

#projects-index a.icon-user, a.icon-bookmarked-project {
	padding-right: 32px;
	background-position: 98% 60%;
}

.wiki h2 {
	font-size: 20px;
}

.wiki h3 {
	font-size: inherit;
}

.contextual {
	font-size: 1rem;
}

abbr, span.field-description[title] {
	text-decoration: none;
}

a.user.locked, a.user.locked:link, a.user.locked:visited {
	color: $sheffield;
}
